CONFIG_ESPTOOLPY_FLASHSIZE_32MB=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.sticky.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.sticky.csv"
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_TYPE_AUTO=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_BOOT_INIT=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_MEMTEST=y
# CONFIG_TINYUSB_CDC_ENABLED is not set
# CONFIG_TINYUSB_MSC_ENABLED is not set

# Variable 512-4096 byte FatFs sectors; preserve existing internal WL geometry.
CONFIG_FATFS_SECTOR_512=y
CONFIG_WL_SECTOR_SIZE_4096=y
